@font-face {
  font-family: 'IcoMoon';
  src: url('/media/jui/fonts/IcoMoon.eot');
  src: url('/media/jui/fonts/IcoMoon.eot?#iefix') format('embedded-opentype'), url('/media/jui/fonts/IcoMoon.woff') format('woff'), url('/media/jui/fonts/IcoMoon.ttf') format('truetype'), url('/media/jui/fonts/IcoMoon.svg#IcoMoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
#jobsearch_well #jobokSearchForm {
  display: block;
}
#jobsearch_well #jobokSearchForm #jobokay_search_container {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  border: 1px solid #ffffff;
  padding-bottom: 20px;
}
#jobsearch_well #jobokSearchForm #jobokay_search_container .module-filter-bar {
  display: inline-block;
  position: relative;
  text-align: center;
  width: auto;
  height: auto;
  line-height: auto !important;
  padding: 0 5% 0 5%;
  margin: 9px auto 9px auto;
}
#jobsearch_well #jobokSearchForm #jobokay_search_container .filter-search {
  position: relative;
}
#jobsearch_well #jobokSearchForm #jobokay_search_container #filter-bar {
  position: relative;
  max-width: 100%;
  margin-left: 0 !important;
}
#jobsearch_well #jobokSearchForm #jobokay_search_container #filter-bar .btn-group {
  width: 25%;
  min-width: 150px;
  max-width: 25%;
  margin: 0;
  border: 1px solid #b8b8b8;
  border-right: 0;
}
#jobsearch_well #jobokSearchForm #jobokay_search_container #filter-bar .btn-group select {
  position: relative;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../images/arrow-down.svg) 6.4% no-repeat #fff;
  padding-left: 40px;
  padding-bottom: 4px;
  margin: 0;
  color: #207FC2;
  font-size: 13px;
  text-transform: uppercase;
  text-align: left;
  width: 100%;
  min-width: 200px;
  height: 26px;
  line-height: normal;
}
#jobsearch_well #jobokSearchForm #jobokay_search_container #filter-bar .btn-group select option {
  text-align: left;
  padding: 0 10px 0 10px;
}
#jobsearch_well #jobokSearchForm #jobokay_search_container #filter-bar .btn-group input#filter_search {
  position: relative;
  border: none;
  border-radius: 0;
  margin: 0;
  color: #207FC2 !important;
  text-transform: uppercase;
  width: 100%;
  min-width: 200px;
  height: 26px;
  max-height: 26px;
  line-height: 1px;
}
#jobsearch_well #jobokSearchForm #jobokay_search_container #filter-bar .btn-group#jobokay_search_buttons,
#jobsearch_well #jobokSearchForm #jobokay_search_container #filter-bar .btn-group #jobsearch_buttons {
  border: none;
  width: 17.5%;
  min-width: 150px;
}
#jobsearch_well #jobokSearchForm #jobokay_search_container #filter-bar .btn-group.filter-search label.element-invisible {
  display: none !important;
}
#jobsearch_well #jobokSearchForm #jobokay_search_container #filter-bar #jobsearch_buttons #jobokay_search_clear,
#jobsearch_well #jobokSearchForm #jobokay_search_container #filter-bar #jobokay_search_buttons #jobokay_search_clear {
  display: none;
}
#jobsearch_well #jobokSearchForm #jobokay_search_container #filter-bar #jobokay_search_submit {
  width: 100%;
  text-align: center;
  background-color: #207FC2 !important;
  background-image: none !important;
  color: #fff !important;
  border: 1px solid #207FC2 !important;
  border-radius: 0;
  box-shadow: none;
  line-height: normal;
  text-transform: uppercase;
  padding: 6px 0;
  height: 28px;
}
#jobsearch_well #jobokSearchForm #jobokay_search_container #filter-bar #jobokay_search_submit:hover {
  color: #86c9f9;
}
#jobsearch_well #jobokSearchForm #jobokay_search_container #filter-bar #jobokay_search_clear {
  text-align: center;
  background-color: #207FC2 !important;
  background-image: none !important;
  color: #fff !important;
  border: 1px solid #207FC2 !important;
  border-radius: 0;
  box-shadow: none;
  line-height: normal;
  text-transform: uppercase;
  padding: 4px 14px;
  height: 28px;
}
#jobsearch_well #jobokSearchForm #jobokay_search_container #filter-bar .jobsearch-label {
  display: none;
}
@media (max-width: 900px) {
  #jobsearch_well #jobokSearchForm #jobokay_search_container #filter-bar .btn-group {
    display: block;
    width: 50%;
  }
  #jobsearch_well #jobokSearchForm #jobokay_search_container #filter-bar .btn-group#jobokay_search_buttons,
  #jobsearch_well #jobokSearchForm #jobokay_search_container #filter-bar .btn-group#jobsearch_buttons {
    width: 50%;
  }
  #jobsearch_well #jobokSearchForm #jobokay_search_container #filter-bar .btn-group:nth-child(3) {
    border-right: 1px solid #b8b8b8 !important;
  }
}
@media (max-width: 480px) {
  #jobsearch_well #jobokSearchForm #jobokay_search_container #filter-bar .btn-group {
    width: 100%;
    border-right: 1px solid #b8b8b8 !important;
  }
  #jobsearch_well #jobokSearchForm #jobokay_search_container #filter-bar .btn-group#jobokay_search_buttons,
  #jobsearch_well #jobokSearchForm #jobokay_search_container #filter-bar .btn-group#jobsearch_buttons {
    width: 100%;
  }
}
.items .items_list {
  list-style-type: none;
  width: 90%;
  margin-top: 40px;
}
.items .items_list .itemlayer {
  position: relative;
}
.items .items_list .itemlayer .itemlist_header {
  position: relative;
  margin-bottom: 20px;
}
.items .items_list .itemlayer .itemlist_header .itemlist_textstr {
  float: left;
  padding-right: 20px;
  color: #08c;
}
.items .items_list .itemlayer .itemlist_descriptionblock {
  position: relative;
  margin-bottom: 10px;
  height: auto;
  overflow: hidden;
  clear: both;
}
.items .items_list .itemlayer .itemlist_descriptionblock li a {
  color: #0088CC !important;
  font-size: 16px;
  line-height: 20px;
  padding-top: 16px;
}
.items .items_list td,
.items .items_list th {
  padding-right: 10px;
}
.items .items_list th {
  text-align: left;
}
#cwhire_joblication .item_fields .jobdescription,
#cwhire_joblication .item_fields .jobtasks,
#cwhire_joblication .item_fields .jobprofile,
#cwhire_joblication .item_fields .job_contactinfo {
  margin: 10px 0 10px 0;
}
#cwhire_joblication .item_fields .item_header {
  position: relative;
  margin-bottom: 20px;
  float: none;
  clear: both;
}
#cwhire_joblication .item_fields .item_header .item_header_textstr {
  float: left;
  padding-right: 20px;
  color: #08c;
}
#cwhire_joblication .item_fields .item_header::after {
  position: relative;
  display: block;
  content: " ";
  float: none;
  clear: both;
}
#cwhire_joblication .item_fields #formhider {
    color: #fff;
    display: block;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    background: #207FC2;
    vertical-align: middle;
    width: 220px;
    margin: 0 auto;
    margin-top: 20px;
}
#cwhire_joblication .item_fields #formhider i {
  font-size: 22px;
  height: 26px;
  vertical-align: middle;
  padding-top: 2px;
  padding-left: 4px;
  transition-duration: 0.5s;
}
#cwhire_joblication .item_fields #formhider.active i {
  transform: rotate(90deg);
}
#cwhire_joblication .item_fields #formhider img {
  vertical-align: top;
  margin-top: 4px;
}
#cwhire_joblication .item_fields #application_form {
  position: relative;
  height: auto;
  text-align: left;
}
#cwhire_joblication .item_fields #application_form select,
#cwhire_joblication .item_fields #application_form textarea,
#cwhire_joblication .item_fields #application_form input[type="text"],
#cwhire_joblication .item_fields #application_form input[type="password"],
#cwhire_joblication .item_fields #application_form input[type="datetime"],
#cwhire_joblication .item_fields #application_form input[type="datetime-local"],
#cwhire_joblication .item_fields #application_form input[type="date"],
#cwhire_joblication .item_fields #application_form input[type="month"],
#cwhire_joblication .item_fields #application_form input[type="time"],
#cwhire_joblication .item_fields #application_form input[type="week"],
#cwhire_joblication .item_fields #application_form input[type="number"],
#cwhire_joblication .item_fields #application_form input[type="email"],
#cwhire_joblication .item_fields #application_form input[type="url"],
#cwhire_joblication .item_fields #application_form input[type="search"],
#cwhire_joblication .item_fields #application_form input[type="tel"],
#cwhire_joblication .item_fields #application_form input[type="color"],
#cwhire_joblication .item_fields #application_form .uneditable-input {
  display: inline-block;
  height: 18px;
  padding: 4px 6px;
  margin-bottom: 9px;
  font-size: 13px;
  line-height: 18px;
  color: #555;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#cwhire_joblication .item_fields #application_form select.warning,
#cwhire_joblication .item_fields #application_form textarea.warning,
#cwhire_joblication .item_fields #application_form input[type="text"].warning,
#cwhire_joblication .item_fields #application_form input[type="password"].warning,
#cwhire_joblication .item_fields #application_form input[type="datetime"].warning,
#cwhire_joblication .item_fields #application_form input[type="datetime-local"].warning,
#cwhire_joblication .item_fields #application_form input[type="date"].warning,
#cwhire_joblication .item_fields #application_form input[type="month"].warning,
#cwhire_joblication .item_fields #application_form input[type="time"].warning,
#cwhire_joblication .item_fields #application_form input[type="week"].warning,
#cwhire_joblication .item_fields #application_form input[type="number"].warning,
#cwhire_joblication .item_fields #application_form input[type="email"].warning,
#cwhire_joblication .item_fields #application_form input[type="url"].warning,
#cwhire_joblication .item_fields #application_form input[type="search"].warning,
#cwhire_joblication .item_fields #application_form input[type="tel"].warning,
#cwhire_joblication .item_fields #application_form input[type="color"].warning,
#cwhire_joblication .item_fields #application_form .uneditable-input.warning {
  border-color: #c40000;
}
#cwhire_joblication .item_fields #application_form select {
  height: auto;
}
#cwhire_joblication .item_fields #application_form input {
  width: 210px;
}
#cwhire_joblication .item_fields #application_form textarea {
  height: auto;
  font-style: italic;
  width: 430px;
}
#cwhire_joblication .item_fields #application_form input[type="radio"],
#cwhire_joblication .item_fields #application_form input[type="checkbox"] {
  margin: 4px 0 0;
  *margin-top: 0;
  margin-top: 1px \9;
  line-height: normal;
  cursor: pointer;
  width: auto;
}
#cwhire_joblication .item_fields #application_form .formlabel {
  width: 150px;
  clear: both;
  float: left;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
#cwhire_joblication .item_fields #application_form #appliform_plz {
  width: 60px;
}
#cwhire_joblication .item_fields #application_form #appliform_country {
  width: 20px;
}
#cwhire_joblication .item_fields #application_form .appliform_field {
  width: 200px;
  height: 26px !important;
}
#cwhire_joblication .item_fields #application_form .appliform_field_long {
  width: 450px;
  height: 26px !important;
}
#cwhire_joblication .item_fields #application_form .appliform_textarea {
  width: 450px;
  height: 100px;
}
#cwhire_joblication .item_fields #application_form .appliform_upload {
  width: 300px;
}
#cwhire_joblication .item_fields #application_form #form_uploadgroup div {
  margin: 0;
  padding: 0;
  /*       border: 1px dotted red; */
}
#cwhire_joblication .item_fields #application_form #button_submit {
  margin: 20px 0 0 150px;
}
#cwhire_joblication .item_fields #application_form .moduletable_homepage_slideshow {
  width: 50%;
}
#cwhire_joblication .item_fields #application_form #formlabel_upload,
#cwhire_joblication .item_fields #application_form #formlabel_link {
  cursor: pointer;
}
#cwhire_joblication .item_fields #application_form #application_text {
  font-style: italic !important;
}
#cwhire_joblication .item_fields #application_form .g-recaptcha {
  position: relative;
  display: inline-block;
}
#jobsearchForm {
  text-align: center;
}
.jobsbutton {
  display: inline-block;
  position: relative;
  left: 0;
  right: 0;
  border-radius: 0;
  margin: 0 auto;
  background-color: #207FC2;
  border: 1px solid #207FC2;
  color: #fff;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
  padding: 5px 0 4px 0;
  font-size: 12px;
  width: 388px;
}
.jobsbutton:hover {
  background-color: #207FC2;
  border: 1px solid #207FC2;
  color: #86c9f9;
}
.jobsbutton:active {
  background-color: #207FC2;
  border: 1px solid #207FC2;
  color: fff;
}
@media (max-width: 480px) {
  .jobsbutton {
    width: 100%;
  }
}
